h1{
	margin:auto;
	 text-shadow: 2px 2px 6px #000000;
}
#welcomePara{
	font-size:24px;
	text-align:center;
	margin:20px;
	 text-shadow: 2px 2px 6px #000000;
}
#welcome{
	background: rgba(0, 0, 0, 0);
	margin:auto;
	justify-content:space-around;
	align-items:center;
	display: -webkit-flex;
    display: flex;
	flex-wrap:wrap;
	max-width:500px;
	max-height:1000px;
	position: relative;
	top:200px;
	
}
*{ margin:0;
	padding:0;
}
.home{
	 background: linear-gradient(to bottom right, black, white) no-repeat center fixed;
	justify-content:space-around;
	align-items:center;
	display: -webkit-flex;
    display: flex;
}
.home:child{
	margin:auto;
}
input[type=submit]{
	text-decoration:none;
	 margin: 0;
    padding: 10px;
	background-color:;
	border: none;
	font-size:18px;
	width:200px;
	float:left;
	margin:auto;
}
input[type=submit]:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	bacdkground-color:
}