body{
    font-family: 'VT323', monospace;
    color: white;
    height: 700px;
    width: 700px;
    margin: 0px;
    padding: 0px;
}
#bg{
    background-color: white;
}
#topToolBar{
    position: fixed;
    display: block;
    top: 5px;
    left: 67px;
    width: 600px;
    height: 60px;
    border: 1px solid black;
}
#topToolBar table{
    width: 100%;
    max-height: 100%;
}
.att{
    position: relative;
    display: block;
    background-color: red;
    width: 30%;
}
#tl{
    position: fixed;
    display: block;
    background-color: purple;
    width: 61px;
    height: 61px;
    left: 5px;
    top: 5px;
}
#leftToolBar{
    position: fixed;
    display: block;
    width: 62px;
    left: 5px;
    top: 67px;
    height: 600px;
    background-color: cornflowerblue;
}
#leftToolBar ul{
    display: block;
    list-style-type: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#leftToolBar li{
    display: block;
    height: 10%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #555;
    color: white;
}
.icons{
    position: relative;
}
#bl{
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    left: 0px;
    bottom: 0px;
}
#commentBar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: green;
}
#canvas_1 {
	border : solid black 1px;	
	cursor : crosshair;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	position : absolute;
	top : 90px;
	left : 90px;
	z-index : 300;
		}
		
	#canvas_2, #canvas_3 {
	border : solid black 1px;	
	cursor : crosshair;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	position : absolute;
	top : 90px;
	left : 90px;
	z-index : 500;
	opacity : 0.6;
		}