body{
    font-family: 'VT323', monospace;
    color: white;
}
#bg{
    background-color: white;
}
#topToolBar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    margin-left: 50px;
    background-color: blue;
}
#tl{
    position: fixed;
    display: block;
    background-color: purple;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#leftToolBar{
    position: fixed;
    display: block;
    width: 50px;
    left: 0px;
    height: 80%;
    margin-top: 50px;
    background-color: red;
}
#bl{
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    left: 0px;
    bottom: 0px;
}
#commentBar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: green;
}
#canvas_1 {
	border : solid black 1px;	
	cursor : crosshair;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	position : absolute;
	top : 58px;
	left : 58px;
	z-index : 300;
		}
		
	#canvas_2, #canvas_3 {
	border : solid black 1px;	
	cursor : crosshair;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	position : absolute;
	top : 58px;
	left : 58px;
	z-index : 500;
	opacity : 0.6;
		}