body{
    font-family: 'VT323', monospace;
    color: white;
    height: 700px;
    width: 700px;
    margin: 0px;
    padding: 0px;
}
#bg{
    background-color: white;
}
#tl{
    position: fixed;
    display: block;
    background-color: gray;
    width: 61px;
    height: 124px;
    left: 5px;
    top: 5px;
}
#topBar{
    position: fixed;
    display: block;
    top: 5px;
    left: 67px;
    width: 603px;
    height: 60px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#colorPicker{
    position: absolute;
    display: block;
    width: 200px;
    height: 61px;
    border-right: 1px solid black;
}
#att1{
    position: absolute;
    display: block;
    left: 201px;
    width: 200px;
    height: 61px;
    border-right: 1px solid black;
}
#att2{
    position: absolute;
    display: block;
    left: 402px;
    width: 200px;
    height: 61px;
    border-right: 1px solid black;
}
#topBar2{
    position: fixed;
    display: block;
    top: 67px;
    left: 67px;
    width: 603px;
    height: 60px;
}
#option1{
    position: absolute;
    display: block;
    width: 200px;
    height: 61px;
    border: 1px solid black;
}
#option2{
    position: absolute;
    display: block;
    left: 201px;
    width: 200px;
    height: 61px;
    border: 1px solid black;
}
#option3{
    position: absolute;
    display: block;
    left: 402px;
    width: 200px;
    height: 61px;
    border: 1px solid black;
}
#leftToolBar{
    position: fixed;
    display: block;
    width: 62px;
    left: 5px;
    top: 130px;
    height: 600px;
    background-color: cornflowerblue;
}
#leftToolBar ul{
    display: block;
    list-style-type: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#leftToolBar li{
    display: block;
    height: 10%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #555;
    color: white;
}
.icons{
    position: relative;
    max-width: 100%;
    cursor: pointer;
}
#bl{
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    left: 0px;
    bottom: 0px;
}
#commentBar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: green;
}
#canvas_1 {
	border : solid black 1px;	
	cursor : crosshair;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	position : absolute;
	top : 135px;
	left : 73px;
	z-index : 300;
		}
		
	#canvas_2, #canvas_3 {
	border : solid black 1px;	
	cursor : crosshair;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	position : absolute;
	top : 135px;
	left : 73px;
	z-index : 500;
	opacity : 0.6;
		}